.container {
  margin-top: 150px;
  padding: 50px;
}
h1 {
  text-align: left;
  color: white;
  font-weight: 700;
}
.form-row {
  margin-bottom: 15px;
}
.btn-business {
  background-color: #3d7ef0;
  border-color: #3d7ef0;
}
.form-disabled {
  display: none;
}
.alert-danger {
  text-transform: capitalize;
  margin-top: 10px;
}
.alert-business {
  background-color: #3d7ef0;
  border-color: #3d7ef0;
  color: white;
  margin-top: 10px;
}
