<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm">
      <div *ngIf="showForm" class="email-form">
        <h1>Contact us!</h1>
        <form #f="ngForm">
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <input #nameForm="ngModel" type="text" class="form-control" id="name" name="name" placeholder="Name"
                  [(ngModel)]="name" required>
              </div>
              <div class="form-group form-disabled">
                <input #typeV="ngModel" type="text" class="form-control" id="type" name="type" placeholder="Type"
                  [(ngModel)]="type" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input #emailForm="ngModel" required minlength="3" name="email" [(ngModel)]="email" type="email" class="form-control"
                  id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" email>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-12">
              <div class="alert alert-danger" *ngIf="nameForm.touched && nameForm.invalid">
                <div *ngIf="nameForm.errors.required">Name is required</div>
              </div>
              <div *ngIf="emailForm.touched && emailForm.invalid" class="alert alert-danger">
                <div *ngIf="emailForm.errors.required">Email address field is required</div>
                <div *ngIf="emailForm.errors.email">It is not an email adress format</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input #subjectForm="ngModel" type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
              [(ngModel)]="subject" required>
          </div>
          <div class="alert alert-danger" *ngIf="subjectForm.touched && subjectForm.invalid">
            <div *ngIf="subjectForm.errors.required">Subject is required</div>
          </div>
          <div class="form-group">
            <textarea #messageForm="ngModel" class="form-control" type="textarea" id="message" name="message"
              placeholder="Message" [(ngModel)]="message" minlength="30" maxlength="140" rows="7" required></textarea>
          </div>
          <div class="alert alert-danger" *ngIf="messageForm.touched && messageForm.invalid">
            <div *ngIf="messageForm.errors.required">Message is required</div>
            <div *ngIf="messageForm.errors.minlength">Min length is 30</div>
            <div *ngIf="messageForm.errors.maxlength">Max length is 140</div>
          </div>
          <button type="button" id="submit" name="submit" class="btn btn-business btn-block" (click)="sendMail(f.value)"><i
              class="fas fa-envelope"></i>Send</button>
              {{f.value | json}}
        </form>
      </div>
      <div *ngIf="serverError" class="alert alert-danger">
        {{serverError}}
      </div>
      <div *ngIf="clientError" class="alert alert-danger">
        {{clientError}}
      </div>
      <div *ngIf="emailSent" class="alert alert-business">
        {{emailSent}}
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>