body {
    margin: 0;
    background-image: url('../../../../assets/images/bg_log.jpeg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding-top: 70px;
    padding-bottom: 130px;
}
.col-4, .col-5 {
    color: #232323;
}
.col-register {
    justify-content: right;
}
h1 {
    text-align: center;
}
.fab {
    padding-right: 10px;
}
.btn {
    color:white;
}
.btn-primary {
    margin-top: 20px;
}
.btn-google {
    background-color: #de4b39;
    margin-top: 15px;
}
.btn-google:hover {
    background-color: #cf4635;
}
.btn-facebook {
    background-color: #4267b2;
    margin-top: 15px;
    float: right;
}
.btn-facebook:hover {
    background-color: #3d60a6;
}
.bg-dark {
    background: transparent !important;
}
.inline {
    display: flex;
    flex-direction: row;
}
.form-sign-in {
    color: white;
    background-color: rgba(20,20,20,0.5);
    padding: 20px;
    height: 400px;
    border-radius: 5px;
}
.small-logo {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.no-account-info {
    text-align: center;
    margin: 10px 0 10px 0;
}

