<div class="modal-header">
  <div class="modal-header-body">
    <h4 class="modal-title">Send message to {{name}}</h4>
    <h5><small>Trip identificator: <span class="bold">{{idtrip}}</span></small></h5>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div *ngIf="showForm" class="email-form">
          <form #f="ngForm">
            <div class="form-group form-disabled">
              <input #emailToV="ngModel" type="text" class="form-control" id="emailto" name="email"
                [(ngModel)]="emailto" required>
            </div>
            <div class="form-group form-disabled">
                <input #tripId="ngModel" type="text" class="form-control" id="idtrip" name="idtrip"
                  [(ngModel)]="idtrip" required>
              </div>
            <div class="form-group form-disabled">
                <input #userId="ngModel" type="text" class="form-control" id="iduser" name="iduser"
                  [(ngModel)]="iduser" required>
              </div>
            <div class="form-group">
              <input #subjectForm="ngModel" type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
                [(ngModel)]="subject" required>
            </div>
            <div class="alert alert-danger" *ngIf="subjectForm.touched && subjectForm.invalid">
              <div *ngIf="subjectForm.errors.required">Subject is required</div>
            </div>
            <div class="form-group">
              <textarea #messageForm="ngModel" class="form-control" type="textarea" id="message" name="message"
                placeholder="Message" [(ngModel)]="message" maxlength="140" rows="7" required></textarea>
            </div>
            <div class="alert alert-danger" *ngIf="messageForm.touched && messageForm.invalid">
              <div *ngIf="messageForm.errors.required">Message is required</div>
              <div *ngIf="messageForm.errors.maxlength">Max length is 140</div>
            </div>
            <button type="button" id="submit" name="submit" class="btn btn-business btn-block" (click)="sendMail(f.value)"
              [disabled]="f.invalid"><i class="fas fa-envelope"></i>Send</button>
            {{f.value | json}}
          </form>
        </div>
        <div *ngIf="serverError" class="alert alert-danger">
          {{serverError}}
        </div>
        <div *ngIf="clientError" class="alert alert-danger">
          {{clientError}}
        </div>
        <div *ngIf="emailSent" class="alert alert-business">
          {{emailSent}}
        </div>
      </div>
    </div>
  </div>
</div>