.row-main {
    padding-bottom: 50px;
}
.card {
    /* border: 2px solid rgb(85, 221, 43); */
    border: none;
    color: white;
}
.card-title-small {
    text-transform: uppercase;
}
.card-body {
    background-color: #232323;
}
.card-stats {
    min-height: 340px;
}
.card-stats .card-title {
    margin-bottom: 2.5rem;
}
.card-text {
    text-align: justify;
}
.col-icon .card-text {
    display: flex;
    justify-content: center;
}
.card-text .fas {
    font-size: 8rem;
    color: #55dd2b;
}
.card-text-bold {
    font-weight: 600;
}
.first h6 {
    margin-top: 0;
}
.first h5 {
    margin-bottom: 0;
}
.jumbotron {
    background-image: url('../../../../assets/images/photos/business.png');
    background-size: cover;
    height: 400px;
}
.card-footer {
    padding: 0;
    border-top: none;
}
.btn-business, .btn-business:focus:active, .btn-business:focus, .btn-business:active {
    background-color: rgb(85, 221, 43);
    border-color: rgb(85, 221, 43);
    color: #232323;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-business:hover {
    transition: 0.5s;
    color: white;
}
.busines-stock {
    width: 400px;
}
p /deep/ .progress-bar {
    background-color: rgb(85, 221, 43) !important;
    color: #232323 !important;
    font-weight: 500;
}