<div class="jumbotron jumbotron-fluid"></div>
<div class="container">
  <div class="row row-main">
    <div *ngIf="!showContact" class="col-sm-6">
      <div class="card mb-3">
        <div class="card-body first">
          <h5 class="card-title">Business cooperation</h5>
          <h6 class="card-title card-title-small"><small>For travel agencies</small></h6>
          <div class="row">
            <div class="col-sm-6">
              <p class="card-text card-text-bold">Socially</p>
              <p class="card-text">Reach clients genuinely interested in travelling. Let people judge and promote your
                offerings by assigning their memories to your trips. We have a high growth potencial for our userbase
                based on lack of direct competition.</p>
            </div>
            <div class="col-sm-6 col-icon">
              <p class="card-text card-text-bold">What can you gain?</p>
              <p class="card-text"><i class="fas fa-users"></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <p class="card-text card-text-bold">Technically</p>
              <p class="card-text">Easy way to present your offer in a beautiful shape and form. You don’t need any
                professional skills to present your trips in a spectacular way. You can use our website as your main
                tool to exhibityour offer. Thanks to our intuitive administration panel it will be way easier than
                running and maintain your own website.</p>
            </div>
            <div class="col-sm-6 col-icon">
              <p class="card-text card-text-bold">What can you gain?</p>
              <p class="card-text"><i class="fas fa-tv"></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <p class="card-text card-text-bold">Financial</p>
              <p class="card-text">Our monthly plans start from 25$. You gain all the functionalities. Using tools we
                prepared you save time and money that you would have to spend on designing and maintaining your own
                website.</p>
            </div>
            <div class="col-sm-6 col-icon">
              <p class="card-text card-text-bold">What can you gain?</p>
              <p class="card-text"><i class="fas fa-coins"></i></p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="contactForm()" class="btn btn-business btn-block">Contact us</button>
        </div>
      </div>
    </div>
    <div *ngIf="showContact" class="col-sm-6">
      <contact></contact>
      <div class="row">
        <div class="col-sm-12 col-undo">
          <span (click)="contactForm()">Undo</span>
        </div>
      </div>
    </div>
    <div *ngIf="showBusiness" class="col-sm-6">
      <register [business]="true"></register>
      <div class="row">
        <div class="col-sm-12 col-undo">
          <span (click)="businessForm()">Undo</span>
        </div>
      </div>
    </div>
    <div *ngIf="!showBusiness" class="col-sm-6">
      <div class="card-img-top"></div>
      <div class="card mb-3 card-stats">
        <div class="card-body">
          <h5 class="card-title">Check this stats and numbers below</h5>
          <div class="row">
            <div class="col-sm-12">
              <p>
                <ngb-progressbar type="danger" height="2rem" [value]="80">Over 1.000 content clients</ngb-progressbar>
              </p>
              <p>
                <ngb-progressbar type="danger" height="2rem" [value]="70">At least 200 redirected links</ngb-progressbar>
              </p>
              <p>
                <ngb-progressbar type="danger" height="2rem" [value]="60">Over 600 solved issues</ngb-progressbar>
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="businessForm()" class="btn btn-business btn-block">Sign up for business</button>
        </div>
      </div>
    </div>
  </div>
</div>