.row-main {
    padding-bottom: 50px;
}
.card {
    /* border: 2px solid rgb(85, 221, 43); */
    border: none;
    color: white;
}
.card-body {
    background-color: #232323;
}
.jumbotron {
    background-image: url('../../../../assets/images/photos/business.png');
    background-size: cover;
    height: 400px;
}
.card-footer {
    padding: 0;
    border-top: none;
}
.btn-business, .btn-business:focus:active, .btn-business:focus, .btn-business:active {
    background-color: rgb(85, 221, 43);
    border-color: rgb(85, 221, 43);
    color: #232323;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-business:hover {
    transition: 0.5s;
    color: white;
}
.busines-stock {
    width: 400px;
}
p /deep/ .progress-bar {
    background-color: rgb(85, 221, 43) !important;
    color: #232323 !important;
    font-weight: 500;
}