<div class="card">
  <div class="card-header">
    <span *ngIf="noteCard" class="header">Adding note</span>
    <span *ngIf="!noteCard" class="header">Adding card</span>
    <div class="close">
      <i *ngIf="noteCard" (click)="changeShowNote($event)" class="fas fa-times"></i>
      <i *ngIf="!noteCard" (click)="changeShowCard($event)" class="fas fa-times"></i>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <form #f="ngForm">
        <div *ngIf="!noteCard" class="form-group">
          <label for="photoNote">Photo URL</label>
          <input #photoNote="ngModel" [(ngModel)]="note.photo" name="photo" type="text" class="form-control" id="photoNote"
            placeholder="Photo URL">
            <div class="alert alert-danger" *ngIf="photoNote.touched && photoNote.invalid">
              <div *ngIf="photoNote.errors.required">Title is required</div>
            </div>
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input #titleNote="ngModel" [(ngModel)]="note.title" name="title" type="text" class="form-control" id="title"
            placeholder="Title" required>
            <div class="alert alert-danger" *ngIf="titleNote.touched && titleNote.invalid">
              <div *ngIf="titleNote.errors.required">Title is required</div>
            </div>
        </div>
        <div class="form-group">
          <label for="note">Note</label>
          <textarea #description="ngModel" [(ngModel)]="note.description" name="description" class="form-control" id="note"
            rows="3"></textarea>
        </div>
        <div *ngIf="noteCard" class="form-group">
          <label for="date">Date</label>
          <div class="input-group">
            <input [(ngModel)]="note.date" name="date" class="form-control" placeholder="yyyy-mm-dd" (focus)="dateNote.open()"
              id="date" name="date" ngbDatepicker #dateNote="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-default btn-calendar calendar" (click)="dateNote.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="noteCard" class="form-group">
          <label for="caption">Caption</label>
          <input #caption="ngModel" [(ngModel)]="note.caption" name="caption" type="text" class="form-control" id="caption" placeholder="Caption">
        </div> -->
        <div *ngIf="noteCard" class="form-group">
          <label for="photoCard">Photo URL</label>
          <input #photoCard="ngModel" [(ngModel)]="note.photo" name="photo" type="text" class="form-control" id="photoCard"
            placeholder="Photo URL">
        </div>

        <div class="form-group form-group-button form-disabled">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
            <label ngbButtonLabel class="btn-primary">
              <input #typeNote="ngModel" [(ngModel)]="type" name="type" ngbButton type="radio" [value]="1">Note
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input #typeNote="ngModel" [(ngModel)]="type" name="type" ngbButton type="radio" [value]="0">Card
            </label>
          </div>
        </div>
        Type {{type}};
        <div class="form-group form-group-button">
          <button (click)="addNote(f.value)" *ngIf="noteCard" (click)="changeDisabledButton($event)" (click)="changeAlertNote($event)" type="submit" class="btn btn-success"><i
              class="fas fa-save"></i>Save note</button>
          <button (click)="addNote(f.value)" *ngIf="!noteCard" (click)="changeDisabledButton($event)" (click)="changeAlertCard($event)" type="submit" class="btn btn-success"><i class="fas fa-save"></i>Save
            card</button>
        </div>
        DANE: {{f.value | json}}
      </form>
    </div>
  </div>
</div>