<a class="dropdown-item dropdown-item-user" href="#" *ngIf="hamburger">{{ appUser.email }}</a>
<a *ngIf="cart && hamburger" class="dropdown-item dropdown-item-user" [class.cart-active]="cart.totalItemsCount > 0"
  routerLink="/shopping-cart">
  Items in your shopping cart: {{ cart.totalItemsCount }}
</a>
<a class="dropdown-item" routerLink="/my/orders">My Orders</a>
<ng-container *ngIf="appUser.isAdmin">
  <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
  <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
</ng-container>
<div class="dropdown-divider"></div>
<a routerLink="/" class="dropdown-item" (click)="logout()">Log Out</a>