<div class="row row-info">
  <div class="col-sm-2">
    <div class="card">
      <img *ngIf="imageUrl" class="card-img-top" [src]="imageUrl" alt="Card image cap">
      <button *ngIf="myprofile" (click)="previewProfile()" placement="bottom" ngbTooltip="Preview profile" class="btn btn-warning"><i
          class="fas fa-search"></i></button>
      <button *ngIf="!myprofile" (click)="previewProfile()" placement="bottom" ngbTooltip="Edit" class="btn btn-danger"><i
          class="fas fa-edit"></i></button>
    </div>
    <button *ngIf="myprofile" (click)="saveProfile(about,imageUrl,username,password)" class="btn btn-success btn-block"><i
        class="fas fa-save"></i>Save</button>
  </div>
  <div *ngIf="!myprofile" class="col-sm">
    <div class="row">
      <div class="col-sm-6">
        <h4>
          {{username}}
          <span *ngIf="normal" class="badge badge-secondary">Traveller</span>
          <span *ngIf="!normal" class="badge badge-business">Business partner</span>
        </h4>
        <p>{{about}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="myprofile" class="col-sm-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
            readonly>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Change password</label>
          <input [(ngModel)]="password" type="password" class="form-control" id="exampleFormControlInput1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Avatar</label>
          <input [(ngModel)]="imageUrl" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Confirm password</label>
          <input [(ngModel)]="password" type="password" class="form-control" id="exampleFormControlInput1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="exampleFormControlInput1">Username</label>
          <input [(ngModel)]="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username">
        </div>
      </div>
      <div class="col-sm-3">
        <label>Role</label>
        <p><span *ngIf="normal" placement="right" ngbTooltip="Traveller" class="badge badge-secondary"><i class="fas fa-hiking"></i></span>
          <span *ngIf="!normal" placement="right" ngbTooltip="Business partner" class="badge badge-business"><i class="fas fa-user-tie"></i></span></p>
      </div>
    </div>
  </div>
  <div *ngIf="myprofile" class="col-sm-4">
    <!-- ABOUT -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">About me</label>
      <textarea [(ngModel)]="about" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div *ngIf="about" class="form-group">
      <label>About me</label>
      <p>{{about}}</p>
    </div>
    <!-- END ABOUT -->
  </div>
</div>
<div class="row row-trips">
  <div class="col-sm-4">
    <h3><i class="fas fa-globe-americas"></i>Trips</h3>
    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/C3GsTD1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mary Elizabeth</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
      <p class="card-footer"><small class="text-footer">Poland</small></p>
    </div>
  </div>
</div>