<div *ngIf="user" class="row row-info">
  <div class="col-sm-2">
    <div class="card">
      <img *ngIf="imageUrl" class="card-img-top" [src]="imageUrl" alt="Card image cap">
      <button *ngIf="myprofile" (click)="previewProfile()" placement="bottom" ngbTooltip="Preview profile" class="btn btn-warning"><i
          class="fas fa-search"></i></button>
      <button *ngIf="!myprofile" (click)="previewProfile()" placement="bottom" ngbTooltip="Edit" class="btn btn-danger"><i
          class="fas fa-edit"></i></button>
    </div>
    <button *ngIf="myprofile" (click)="saveUser(f.value)" class="btn btn-success btn-block"><i class="fas fa-save"></i>Save</button>
  </div>
  <div class="col-sm">
    <form #f="ngForm">
      <div *ngIf="!myprofile" class="col-sm">
        <div class="row">
          <div class="col-sm-6">
            <h4>
              {{user.username}}
              <span *ngIf="!user.business" class="badge badge-secondary">Traveller</span>
              <span *ngIf="user.business" class="badge badge-business">Business partner</span>
            </h4>
            <p>{{user.description}}</p>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div *ngIf="myprofile" class="col-sm">
          <div class="form-row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input #email="ngModel" [(ngModel)]="user.email" name="email" type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="name@example.com" readonly>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleFormControlInput1">Change password</label>
                <input #password="ngModel" [(ngModel)]="user.password" name="password" type="password" class="form-control"
                  id="exampleFormControlInput1">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleFormControlInput1">Confirm password</label>
                <input #password="ngModel" [(ngModel)]="user.password" name="password" type="password" class="form-control"
                  id="exampleFormControlInput1">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Avatar</label>
                <input [(ngModel)]="imageUrl" name="imageUrl" type="text" class="form-control" id="exampleFormControlInput1">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="exampleFormControlInput1">Username</label>
                <input #username="ngModel" [(ngModel)]="user.username" name="username" type="text" class="form-control"
                  id="exampleFormControlInput1" placeholder="Username">
              </div>
            </div>
            <div class="col-sm-3">
              <label>Role</label>
              <p><span *ngIf="!user.business" placement="right" ngbTooltip="Traveller" class="badge badge-secondary"><i
                    class="fas fa-hiking"></i></span>
                <span *ngIf="user.business" placement="right" ngbTooltip="Business partner" class="badge badge-business"><i
                    class="fas fa-user-tie"></i></span></p>
            </div>
          </div>
          <div class="form-row">
            <div *ngIf="myprofile" class="col-sm">
              <!-- ABOUT -->
              <div class="form-group">
                <label for="exampleFormControlTextarea1">About me</label>
                <textarea #description="ngModel" [(ngModel)]="user.description" name="description" class="form-control"
                  id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div *ngIf="user.description" class="form-group">
                <label>About me</label>
                <p>{{user.description}}</p>
              </div>
              <!-- END ABOUT -->
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- DANE: {{f.value | json}} -->
  </div>
</div>
<h3><i class="fas fa-globe-americas"></i>Trips</h3>
<div class="row row-trips">
  <div *ngFor="let trip of trips; let i = index" class="col-sm-4 col-cards">
    <div class="card-group">
      <trip-card [trip]="trip" [profile]="true"></trip-card>
    </div>
  </div>
</div>