<div *ngIf="user && settings" class="row row-info">
  <div class="col-sm-2">
    <div class="card">
      <img class="card-img-top" [src]="user.photo" alt="Card image cap">
      <button *ngIf="myprofile" (click)="previewProfile()" placement="bottom" ngbTooltip="Preview profile" class="btn btn-warning"><i
          class="fas fa-search"></i></button>
      <button *ngIf="!myprofile" (click)="previewProfile()" placement="bottom" ngbTooltip="Edit" class="btn btn-danger"><i
          class="fas fa-edit"></i></button>
    </div>
    <button *ngIf="myprofile" (click)="saveUser(f.value)" [disabled]="f.invalid" class="btn btn-success btn-block"><i class="fas fa-save"></i>Save</button>
    <button *ngIf="saved" class="btn btn-success btn-block btn-saved">Saved</button>
  </div>
  <div class="col-sm">
    <form #f="ngForm">
      <div *ngIf="!myprofile" class="col-sm">
        <div class="row">
          <div class="col-sm-6">
            <h4>
              {{user.username}}
              <span *ngIf="!user.business" class="badge badge-secondary">Traveller</span>
              <span *ngIf="user.business" class="badge badge-business">Business partner</span>
            </h4>
            <p>{{user.description}}</p>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div *ngIf="myprofile" class="col-sm">
          <div class="form-row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input #email="ngModel" [(ngModel)]="user.email" name="email" type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="name@example.com" readonly>
              </div>
              <!-- TROJCA BOOLEANOW -->
              <div class="form-disabled">
                <div class="form-group">
                  <input #active="ngModel" [(ngModel)]="user.active" name="active" type="radio" [value]="user.active"
                    class="form-control" id="exampleFormControlInput1" readonly>
                </div>
                <div class="form-group">
                  <input #admin="ngModel" [(ngModel)]="user.admin" name="admin" type="radio" [value]="user.admin" class="form-control"
                    id="exampleFormControlInput1" readonly>
                </div>
                <div class="form-group">
                  <input #business="ngModel" [(ngModel)]="user.business" name="business" type="radio" [value]="user.business"
                    class="form-control" id="exampleFormControlInput1" readonly>
                </div>
              </div>
              <!-- KONIEC TROJCY -->
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" [(ngModel)]="user.password" name="password" type="password" class="form-control"
                  id="password" required>
              </div>
              <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="photo">Avatar</label>
                <input #photo="ngModel" [(ngModel)]="user.photo" name="photo" type="text" class="form-control" id="photo" url>
              </div>
              <div class="alert alert-danger" *ngIf="photo.touched && photo.invalid">
                <div *ngIf="photo.errors.required">Photo is required</div>
                <div *ngIf="photo.errors.url">It is not an image format</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="exampleFormControlInput1">Username</label>
                <input #username="ngModel" [(ngModel)]="user.username" name="username" type="text" class="form-control"
                  id="exampleFormControlInput1" placeholder="Username" readonly>
              </div>
              <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label>Role</label>
              <p><span *ngIf="!user.business" placement="right" ngbTooltip="Traveller" class="badge badge-secondary"><i
                    class="fas fa-hiking"></i></span>
                <span *ngIf="user.business" placement="right" ngbTooltip="Business partner" class="badge badge-business"><i
                    class="fas fa-user-tie"></i></span></p>
            </div>
          </div>
          <div class="form-row">
            <div *ngIf="myprofile" class="col-sm">
              <!-- ABOUT -->
              <div class="form-group">
                <label for="exampleFormControlTextarea1">About me</label>
                <textarea #description="ngModel" [(ngModel)]="user.description" name="description" class="form-control"
                  id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div *ngIf="user.description" class="form-group">
                <label>About me</label>
                <p>{{user.description}}</p>
              </div>
              <!-- END ABOUT -->
            </div>
          </div>
        </div>
      </div>
    </form>
    DANE: {{f.value | json}}
  </div>
</div>
<div *ngIf="user && !settings" class="row row-info">
  <div class="col-sm-2">
    <div class="card">
      <img class="card-img-top" [src]="user.photo" alt="Card image cap">
    </div>
  </div>
  <div class="col-sm">
    <div class="row">
      <div class="col-sm-6">
        <h4>
          {{user.username}}
          <span *ngIf="!user.business" class="badge badge-secondary">Traveller</span>
          <span *ngIf="user.business" class="badge badge-business">Business partner</span>
        </h4>
        <p>{{user.description}}</p>
      </div>
    </div>
  </div>
</div>
<h3><i class="fas fa-globe-americas"></i>Trips</h3>
<div class="row row-trips">
  <div *ngFor="let trip of trips; let i = index" class="col-sm-4 col-cards">
    <div class="card-group">
      <div class="card">
        <div *ngFor="let note of notes; index as i">
          <img *ngIf="i<1" class="card-img-top" [src]="note.photo" alt="Card image cap">
        </div>
        <!-- <img class="card-img-top-business" placement="top" [ngbTooltip]="country.name" [src]="country.image" alt="Card image cap"> -->
        <div *ngIf="!businessTrip" class="card-body">
          <h5 class="card-title">{{trip.title}}</h5>
          <p class="card-text">{{trip.description}}</p>
        </div>
        <div *ngIf="!businessTrip" class="card-footer">
          <div class="row">
            <div *ngIf="trip.countries" class="col-sm">
              <small *ngFor="let country of trip.countries" class="text-footer">{{country}} </small>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm col-buttons">
              <a *ngIf="settings" [routerLink]="['/edit-trip', trip.id]"><button class="btn btn-warning btn-sm"><i
                    class="fas fa-edit"></i>Edit</button></a>
              <button *ngIf="settings" (click)="deleteTrip(trip.id, i)" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</button>
              <a [routerLink]="['/trip', trip.id]"><button class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>