.row {
    padding: 10px;
}
.col-sm-3 .btn-block {
    cursor: default;
}
.btn-block:focus, .btn-block:hover, .btn-block:focus:active, .btn-primary:not(:disabled):not(.disabled):active {
    box-shadow: none;
}
.btn-business {
    background-color: rgb(85, 221, 43);
    border-color: rgb(85, 221, 43);
}
.btn-success {
    margin-top: 5px;
}
.inline {
    display: flex;
    flex-direction: row;
}
.row-about {
    max-width: 50%;
}
.badge-secondary {
    background-color: #f4852b;
}
.badge-business {
    background-color: rgb(85, 221, 43);
    color: white;
}
.row-trips {
    background-color: #f8f8f8;
    padding-top: 40px;
}
.row-info {
    padding: 40px;
}
.btn {
    padding: 5px 10px 5px 10px;
}
.col-sm-3 .badge {
    font-size: 24px;
}
.btn-warning, .btn-danger {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.card p {
    margin-bottom: 0;
}