<!-- BANNER 1 -->
<div *ngIf="bannerOne" class="row-banner">
  <div class="col">
    <div class="thumbnail text-center">
      <img src="/assets/images/carousel/carousel_1.jpg" alt="" class="img-responsive img-thumbnail">
      <div class="caption">
        <p class="small-text">
          FOR EVERY SECOND
          <br /> PAIR OF SNEAKERS
        </p>
        <span class="text-danger">-50%</span><br />
        <button class="btn btn-default">CHECK THIS OUT</button>
      </div>
    </div>
  </div>
</div>
<!-- BANNER 2 -->
<div *ngIf="bannerTwo" class="row row-banner">
  <div class="card bg-dark text-white">
    <img class="card-img" src="../../../../assets/images/carousel/carousel_2.jpg" alt="Card image">
    <div class="card-img-overlay">
      <div class="col-12">
        <p class="card-text">
          GIVE BACK YOUR OLD SNEAKERS AND GET THE NEW ONE
          <br /><button class="btn btn-default">GET COUPON</button>
        </p>
      </div>
    </div>
  </div>
</div>