.bg-primary .blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.685);
}
.zoomed {
    width: 100%;
}
.card-img-top {
    cursor: pointer;
}
.card-columns .card-body {
    text-align: justify;
  }