<div *ngIf="trip" class="container">
  <div class="row">
    <div class="col-sm-10">
      <div *ngIf="editTripp" class="card">
        <div class="card-body">
          <form #fTrip="ngForm">
            <div class="form-row">
              <div class="col-sm-12">
                <div class="alert alert-danger" *ngIf="trip.status === 'BLOCKED'">
                  Your trip is BLOCKED
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputTitle">Title<span class="red">*</span></label>
                <input #title="ngModel" [(ngModel)]="trip.title" name="title" type="text" class="form-control" id="inputTitle"
                  placeholder="Type title" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                  <div *ngIf="title.errors.required">Title is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="startTime">Start<span class="red">*</span></label>
                <div class="input-group">
                  <input #startDate="ngModel" [(ngModel)]="startDateApp" name="startDate" class="form-control"
                    ngbDatepicker #startDatePicker="ngbDatepicker" required>
                  <div class="input-group-append">
                    <button class="btn btn-default btn-calendar calendar" (click)="startDatePicker.toggle()" type="button"><i
                        class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="startDate.touched && startDate.invalid">
                  <div *ngIf="startDate.errors.required">Start date is required</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="endTime">Finish<span class="red">*</span></label>
                <div class="input-group">
                  <input class="form-control" name="endDate" #c2="ngModel" [(ngModel)]="endDateApp" ngbDatepicker
                    #endDate="ngbDatepicker" required>
                  <div class="input-group-append">
                    <button class="btn btn-default btn-calendar calendar" (click)="endDate.toggle()" type="button"><i
                        class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="c2.touched && c2.invalid">
                  <div *ngIf="c2.errors.required">End date is required</div>
                </div>
              </div>
              <div class="col-sm-3">
                <label for="country">Country<span class="red">*</span></label>
                <select #country="ngModel" [(ngModel)]="tripCountries" class="form-control" name="countries" required>
                  <option></option>
                  <option *ngFor="let country of countriesNames">{{country.name}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
                  <div *ngIf="country.errors.required">Country is required</div>
                </div>
              </div>

              <div class="col-sm">
                <label for="country">Add</label>
                <button (click)="addCountry(country.value)" class="btn btn-success btn-block btn-add-country" id="country"><i
                    class="fa fa-plus"></i></button>
              </div>
              <div *ngIf="trip.countries.length > 0" class="form-group col-md-12">
                <span *ngFor="let country of countries; let i = index" class="badge badge-primary">
                  {{country}}
                  <i (click)="deleteCountry(country)" class="fas fa-times"></i></span>
              </div>
              <div class="form-group col-md-12">
                <label for="inputDescription">Description<span class="red">*</span></label>
                <textarea #description="ngModel" [(ngModel)]="trip.description" name="description" class="form-control"
                  id="inputDescription" rows="6" required></textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                  <div *ngIf="description.errors.required">Description is required</div>
                </div>
              </div>
            </div>
            <div *ngIf="trip.status != 'BLOCKED'" class="form-row">
              <div class="form-group col-md-2">
                <label>Accessibility<span class="red">*</span></label><br />
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                  <label ngbButtonLabel class="btn-primary">
                    <input #status="ngModel" [(ngModel)]="tripStatus" name="status" ngbButton type="radio" [value]="1"
                      required><i class="fas fa-unlock-alt"></i>Public
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input #status="ngModel" [(ngModel)]="tripStatus" name="status" ngbButton type="radio" [value]="0"
                      required><i class="fas fa-lock"></i>Private
                  </label>
                </div>
                <div class="alert alert-danger" *ngIf="status.touched && status.invalid">
                  <div *ngIf="status.errors.required">Status is required</div>
                </div>
              </div>
              <div class="col-sm"></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <trip-form-card *ngIf="showNote" [(alertNote)]="alertNote" [(showNote)]="showNote" [noteCard]="true"
                  [type]="type"></trip-form-card>
                <ngb-alert *ngIf="alertNote" (click)="closeAlertNote()" type="success"><i class="fas fa-check-circle"></i>Saved
                  note</ngb-alert>
              </div>
              <div class="col-sm-6">
                <trip-form-card *ngIf="showCard" [(alertCard)]="alertCard" [(showCard)]="showCard" [noteCard]="false"
                  [type]="type"></trip-form-card>
                <ngb-alert *ngIf="alertCard" (click)="closeAlertCard()" type="success"><i class="fas fa-check-circle"></i>Saved
                  card</ngb-alert>
              </div>
            </div>
            <a routerLink="/my-trips"><button (click)="editTrip(trip.id, fTrip.value)" [disabled]="countries.length < 1 || !fTrip.valid"
                class="btn btn-success btn-block"><i class="fas fa-save"></i>Edit trip</button></a>
            <!-- DANE fTrip: {{fTrip.value | json}} -->
          </form>
        </div>
      </div>
      <div *ngIf="editNotes" class="card">
        <div class="card">
          <div *ngFor="let note of notes" class="card-body">
            <div class="card-text">
              {{noteDateApp}}
              <form #fNote="ngForm">
                <div class="row no-gutters">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label for="title">Title<span class="red">*</span></label>
                      <input #titleNote="ngModel" [(ngModel)]="note.title" name="title" type="text" class="form-control"
                        id="title" placeholder="Title" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="titleNote.touched && titleNote.invalid">
                      <div *ngIf="titleNote.errors.required">Title is required</div>
                    </div>
                    <div class="form-group">
                      <label for="note">Note</label>
                      <textarea #description="ngModel" [(ngModel)]="note.description" name="description" class="form-control"
                        id="note" rows="3"></textarea>
                    </div>
                    <div class="row no-gutters">
                      <div class="col-sm-4 col-photo-date">
                        <div class="form-group">
                          <label for="date">Date<span class="red">*</span></label>
                          <div class="input-group">
                            <input #noteDate="ngModel" [(ngModel)]="note.date" name="date" class="form-control"
                              placeholder="yyyy-mm-dd" (focus)="dateNote.open()" id="date" ngbDatepicker #dateNote="ngbDatepicker"
                              required>
                            <div class="input-group-append">
                              <button class="btn btn-default btn-calendar calendar" (click)="dateNote.toggle()" type="button"><i
                                  class="fas fa-calendar-alt"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="dateNote.touched && dateNote.invalid">
                          <div *ngIf="dateNote.errors.required">Date is required</div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="form-group">
                          <label for="photoCard">Photo URL</label>
                          <input #photoCard="ngModel" [(ngModel)]="note.photo" name="photo" type="text" class="form-control"
                            id="photoCard" placeholder="Photo URL" url>
                        </div>
                      </div>
                      <!-- TYPE: {{type}} -->
                      <div class="form-group form-group-button form-disabled">
                        <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="1">
                        <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="0">
                      </div>
                    </div>
                    <div class="form-group form-group-button">
                      <button (click)="editNote(note.id, fNote.value)" type="submit" class="btn btn-success" [disabled]="fNote.invalid"><i
                          class="fas fa-save"></i>Update
                        note</button>
                      <button (click)="deleteNote(note.id)" type="submit" class="btn btn-danger"><i class="fas fa-trash"></i>Delete
                        note</button>
                    </div>
                    <!-- DANE: {{fNote.value | json}} -->
                  </div>
                  <div *ngIf="note.photo" class="col-sm-4 col-sm-4-img">
                    <label for="note-img">Preview of photo</label>
                    <img [src]="note.photo" alt="" id="note-img" class="card-img-top">
                  </div>
                </div>
              </form>
            </div>
            <hr />
          </div>
        </div>

        <!-- START -->

        <div *ngIf="addNote" class="card">
          <div class="card-body">
            <div class="card-text">
              <form #fAddNote="ngForm">
                <div *ngIf="!noteCard" class="form-group">
                  <label for="photoNote">Photo URL</label>
                  <input #photoNote="ngModel" [(ngModel)]="note.photo" name="photo" type="text" class="form-control" id="photoNote"
                    placeholder="Photo URL" url>
                </div>
                <div class="form-group">
                  <label for="title">Title<span class="red">*</span></label>
                  <input #titleNote="ngModel" [(ngModel)]="note.title" name="title" type="text" class="form-control" id="title"
                    placeholder="Title" required>
                  <div class="alert alert-danger" *ngIf="titleNote.touched && titleNote.invalid">
                    <div *ngIf="titleNote.errors.required">Title is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="note">Note</label>
                  <textarea #description="ngModel" [(ngModel)]="note.description" name="description" class="form-control"
                    id="note" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="date">Date<span class="red">*</span></label>
                  <div class="input-group">
                    <input [(ngModel)]="note.date" name="date" class="form-control" placeholder="yyyy-mm-dd" (focus)="dateNote.open()"
                      id="date" name="date" ngbDatepicker #dateNote="ngbDatepicker" required>
                    <div class="input-group-append">
                      <button class="btn btn-default btn-calendar calendar" (click)="dateNote.toggle()" type="button"><i
                          class="fas fa-calendar-alt"></i></button>
                    </div>
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="dateNote.touched && dateNote.invalid">
                  <div *ngIf="dateNote.errors.required">Date is required</div>
                </div>

                <div class="form-group form-group-button form-disabled">
                  <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="1">
                  <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="0">
                </div>

                <div class="form-group form-group-button">
                  <button (click)="addCardFunction(trip.id, fAddNote.value)" type="submit" class="btn btn-success"
                    [disabled]="fAddNote.invalid"><i class="fas fa-save"></i>Save note</button>
                </div>
                <!-- DANE: {{f.value | json}} -->
              </form>
            </div>
          </div>
        </div>

        <!-- END -->

      </div>
      <div *ngIf="editCards" class="card">
        <div class="card">
          <div *ngFor="let card of cards" class="card-body">
            <div class="card-text">
              <form #fCard="ngForm">
                <div class="row no-gutters">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label for="photoNote">Photo URL</label>
                      <input #photoNote="ngModel" [(ngModel)]="card.photo" name="photo" type="text" class="form-control"
                        id="photoNote" placeholder="Photo URL">
                    </div>
                    <!-- TYPE: {{type}} -->
                    <div class="form-group form-group-button form-disabled">
                      <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="1">
                      <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="0">
                    </div>
                    <div class="form-group">
                      <label for="title">Title<span class="red">*</span></label>
                      <input #titleCard="ngModel" [(ngModel)]="card.title" name="title" type="text" class="form-control"
                        id="title" placeholder="Title" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="titleCard.touched && titleCard.invalid">
                      <div *ngIf="titleCard.errors.required">Title is required</div>
                    </div>
                    <div class="form-group">
                      <label for="note">Note</label>
                      <textarea #description="ngModel" [(ngModel)]="card.description" name="description" class="form-control"
                        id="note" rows="3"></textarea>
                    </div>
                    <div class="form-group form-group-button">
                      <button (click)="editNote(card.id, fCard.value)" type="submit" class="btn btn-success" [disabled]="fCard.invalid"><i
                          class="fas fa-save"></i>Update
                        card</button>
                      <button (click)="deleteNote(card.id)" type="submit" class="btn btn-danger"><i class="fas fa-trash"></i>Delete
                        card</button>
                    </div>
                    <!-- DANE: {{fCard.value | json}} -->
                  </div>
                  <div *ngIf="card.photo" class="col-sm-4 col-sm-4-img">
                    <label for="card-img">Preview of photo</label>
                    <img [src]="card.photo" alt="" id="card-img" class="card-img-top">
                  </div>
                </div>
              </form>
            </div>
            <hr />
          </div>
        </div>
        <div *ngIf="addCard" class="row row-adding-card">
          <div class="card-body">
            <div class="card-text">
              <form #fAddCard="ngForm">
                <div class="row no-gutters">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label for="photoNote">Photo URL</label>
                      <input #photoNote="ngModel" [(ngModel)]="card.photo" name="photo" type="text" class="form-control"
                        id="photoNote" placeholder="Photo URL">
                    </div>
                    <div class="form-group">
                      <label for="title">Title<span class="red">*</span></label>
                      <input #titleCardAdd="ngModel" [(ngModel)]="card.title" name="title" type="text" class="form-control"
                        id="title" placeholder="Title" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="titleCardAdd.touched && titleCardAdd.invalid">
                      <div *ngIf="titleCardAdd.errors.required">Title is required</div>
                    </div>
                    <div class="form-group">
                      <label for="note">Note</label>
                      <textarea #description="ngModel" [(ngModel)]="card.description" name="description" class="form-control"
                        id="note" rows="3"></textarea>
                    </div>
                    <div class="form-group form-group-button form-disabled">
                      <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="1">
                      <input #typeNote="ngModel" [(ngModel)]="type" name="type" type="radio" [value]="0">
                    </div>
                    <div class="form-group form-group-button">
                      <button (click)="addCardFunction(trip.id, fAddCard.value)" type="submit" class="btn btn-success"
                        [disabled]="fAddCard.invalid"><i class="fas fa-save"></i>Save card</button>
                    </div>
                    <!-- DANE: {{fAddCard.value | json}} -->
                  </div>
                  <div *ngIf="card.photo" class="col-sm-4 col-sm-4-img">
                    <label for="card-img">Preview of photo</label>
                    <img *ngIf="card.photo" [src]="card.photo" alt="" id="card-img" class="card-img-top">
                  </div>
                </div>
              </form>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <button *ngIf="!addCard && editCards" (click)="showAddCard()" class="btn btn-success btn-block"><i class="fas fa-plus"></i>Add
        card</button>
      <button *ngIf="!addNote && editNotes" (click)="showAddNote()" class="btn btn-success btn-block"><i class="fas fa-plus"></i>Add
        note</button>
    </div>
    <div class="col-sm-2 col-edit">
      <button *ngIf="editTripp || editNotes" (click)="enableEditCards()" class="btn btn-warning"><i class="fas fa-edit"></i>Edit
        cards</button>
      <button *ngIf="editTripp || editCards" (click)="enableEditNotes()" class="btn btn-warning"><i class="fas fa-edit"></i>Edit
        notes</button>
      <button *ngIf="editCards || editNotes" (click)="enableEditTrip()" class="btn btn-warning"><i class="fas fa-edit"></i>Edit
        trip</button>
    </div>
  </div>
</div>