.container {
  margin-top: 150px;
}
hr {
  margin-top: 3.5rem;
}
.col-edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.col-photo-date {
  margin-right: 1rem;
}
.card-img-top {
  padding: 2rem 2rem 2rem 0;
}
.col-continent {
  display: none;
}
.red {
  font-weight: 400;
  color: #dc3545;
  margin-left: 5px;
}
.card-body {
  padding: 3.25rem;
}
.col-sm-4-img {
  padding-left: 2rem;
}
.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #c26b23;
  border-color: #f4852b;
}
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}
.row /deep/ .btn-link,
.row /deep/ .ngb-dp-weekday {
  color: #f4852b !important;
}
.row /deep/ .bg-primary {
  background-color: #f4852b !important;
}
.btn-calendar {
  background: white;
  border-left: none;
  border-color: #ced4da;
  color: #f4852b;
}
.btn-warning {
  margin-bottom: 1rem;
}
.badge-primary {
  margin-right: 1rem;
  padding: 5px 10px 5px 10px;
}
.fa-times {
  padding-right: 0;
  cursor: pointer;
}
.form-disabled {
  display: none;
}
.btn-add {
  margin-right: 10px;
  padding-right: 20px;
}
.form-row {
  margin-bottom: 30px;
}
.btn-success,
.btn-danger {
  margin-top: 20px;
}
.btn-success {
  margin-right: 15px;
}
.btn-add-country {
  margin-top: 0;
}
.row /deep/ .alert-success {
  background-color: #28a7467a;
  color: white;
  margin-top: 1rem;
}
.row /deep/ .alert-success .close {
  color: white;
  opacity: 0.9;
}
.row /deep/ .alert-success .close:hover {
  color: white;
}
