<div class="sticky-top">
  <div class="list-group">
    <a (click)="onTop()" class="list-group-item list-group-item-action" [class.active]="!category" routerLink="/">All
      Categories</a>
    <a (click)="onTop()" *ngFor="let c of categories$ | async" routerLink="/" [queryParams]="{ category: c.$key }"
      class="list-group-item list-group-item-action" [class.active]="category === c.$key">
      <img [src]="c.logo" *ngIf="category === c.$key" class="category-logo">{{ c.name }}
    </a>
  </div>
  <div class="filtering">
    <input [(ngModel)]="searchText" (ngModelChange)="changeText($event)" type="text" placeholder="Search by name" class="form-control">
    <div *ngIf="colors | async as colors" class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Search by color</span>
      </div>
      <select [(ngModel)]="searchColor" (ngModelChange)="changeColor($event)" class="form-control">
        <option></option>
        <option *ngFor="let color of colors">
          {{color.name}}
        </option>
      </select>
    </div>
    <!-- SALE RADIOS -->
    <div class="btn-group radios">
      <div (click)="hideSale()" class="radio-round-left" [class.radio-active-all]="radioAllChecked">
        <label for="all">All
          <input [(ngModel)]="searchSale" (ngModelChange)="changeSale($event)" id="all" type="radio" name="sale"
            [value]="">
        </label>
      </div>
      <div (click)="showSale()" class="radio-round-right" [class.radio-active-sale]="radioSaleChecked">
        <label for="sale">Sale
          <input [(ngModel)]="searchSale" (ngModelChange)="changeSale($event)" id="sale" type="radio" name="sale"
            [value]="true">
        </label>
      </div>
    </div>
  </div>
  <!-- FILTERING BY NAME/COLOR/SALE -->

  <marketing [bannerOne]="true"></marketing>


</div>