<div *ngIf="trip" class="container-fluid">
  <div class="row no-gutters justify-content-md-center">
    <div class="col">
      <div class="card text-center">
        <div class="card-body card-body-main">
          <div class="row">
            <div *ngIf="images" class="col-sm-3 col-padding col-country">
              <ngb-carousel>
                <ng-template *ngFor="let countries of countries$; let i = index" ngbSlide>
                  <img [src]="images[i]" alt="Random first slide">
                  <div *ngFor="let country of countries" class="carousel-caption">
                    <div class="carousel-title">
                      <h3>
                        <p>{{country.name}}</p>
                      </h3>
                    </div>
                    <div class="carousel-body">
                      <div class="languages-country">
                        <p>Capital:</p>
                        <p *ngIf="country.capital">{{country.capital}}</p>
                        <p *ngIf="!country.capital"><i>No capital</i></p>
                      </div>
                      <div class="languages-country">
                        <p>Population:</p>
                        <p>{{country.population | number:'1.0-0'}}</p>
                      </div>
                      <div class="languages-country">
                        <p>Language(s):</p>
                        <p *ngFor="let language of country.languages">{{language.name}}</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-carousel>
              <!-- <div style="color: white;">
                <p>{{names | json}}</p>
                <p>{{trip.countries | json }}</p>
              </div> -->
            </div>
            <div class="col-sm col-main-details">
              <div class="row">
                <div class="col-sm">
                  <h5 class="card-title">{{trip.title}}</h5>
                  <p class="card-text">{{trip.description}}</p>
                  <horizontal-timeline *ngIf="notes.length > 0" [timelineElements]="timeline" [showContent]="true"></horizontal-timeline>
                  <country-photos [trip]="trip"></country-photos>
                  <!-- <button (click)="showTab()" class="btn btn-primary btn-block"><i class="fas fa-globe-americas"></i>Explore<i
                      class="fas fa-caret-down"></i></button> -->
                </div>
              </div>
              <!-- <div *ngIf="readMore" class="row row-tabs">
                <div class="col-sm">
                  <ngb-tabset [justify]="currentJustify">
                    <ngb-tab title="Notes">
                      <ng-template ngbTabContent>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Maps">
                      <ng-template ngbTabContent>
                        <div class="card card-map">
                          <div class="card-body">
                            <a href="#">
                              <div class="card card-map text-white bg-light mb-3">
                                <div class="card-header">Explore the map</div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Places">
                      <ng-template ngbTabContent>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </div> -->
            </div>
            <div class="col-sm-2 col-right-menu">
              <a *ngIf="traveller" [routerLink]="['/profile', traveller.id]">

                <div class="card card-traveller mb-3" [ngStyle]="{'background-image': 'url(' + traveller.photo + ')'}">
                  <div class="card-body">
                    <p class="card-title">{{traveller.username}}</p>
                  </div>
                </div>

              </a>
              <div *ngIf="appUser" class="card card-rating">
                <div *ngIf="readonly" class="card-header">Trip's rate</div>
                <!-- <div *ngIf="!readonly" class="card-header">Rate trip</div> -->
                <ngb-rating (click)="showRate()" [(rate)]="trip.publicRating" [readonly]="readonly" [rate]="trip.publicRating"></ngb-rating>
                <button (click)="rateTrip()" *ngIf="readonly" class="btn btn-rating btn-sm">Rate this trip</button>
                <span *ngIf="!readonly">Rate this trip above using stars form 1 to 5</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>