<div class="sticky-top">
  <div class="list-group">
    <a class="list-group-item list-group-item-action" [class.active]="!continent" routerLink="/home">All Continents</a>
    <a *ngFor="let c of continents$" routerLink="/home" [queryParams]="{ continent: c.name }" [class.active]="continent === c.name"
      class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100">
        <h5 class="mb-1">{{c.name}}</h5>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <small>Hold trips</small>
        <small>{{c.trips}}</small>
      </div>
    </a>
  </div>
  <hr />
  <form class="trips-filtering">
    <div class="form-group">
      <label for="travellersname">Search by traveller's name</label>
      <input type="text" class="form-control" id="travellersname" placeholder="Traveller's name">
    </div>
    <div class="form-group">
      <label for="tripName">Search by trip's title</label>
      <input [(ngModel)]="searchText" (ngModelChange)="changeText($event)" type="text" class="form-control" name="tripName"
        id="tripName" placeholder="Trip's title">
    </div>
    <div class="form-group">
      <label for="countries">Search by country</label>
      <select [(ngModel)]="searchCountry" (ngModelChange)="changeCountry($event)" name="tripCountry" class="form-control">
        <option></option>
        <option *ngFor="let country of countriesNames">
          <img [src]="country.flag" [alt]="country.name" height="30px" width="30px" />
          {{country.name}}
        </option>
      </select>
    </div>
  </form>
</div>