.list-group-item {
    background-color: transparent;
    border: none;
}
.list-group-item-action:hover {
    color: white;
}
.active {
    background: #f4852b;
}
a {
    color: #f4852b;
}
.trips-filtering label{
    color: white;
}
.trips-filtering .form-control{
    color: white;
    background-color: #232323;
    border-color: #2c2c2c;
}
.form-control:focus, .form-control:active, .form-control:focus:active {
    box-shadow: none;
}