<div class="sticky-top">
  <div class="list-group">
    <a class="list-group-item list-group-item-action" [class.active]="!continent" routerLink="/">All Continents</a>
    <a *ngFor="let c of continents$" routerLink="/" [queryParams]="{ continent: c.name }" [class.active]="continent === c.name"
      class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100">
        <h5 class="mb-1">{{c.name}}</h5>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <small>Hold trips</small>
        <small>{{c.trips}}</small>
      </div>
    </a>
  </div>
  <hr />
  <form class="trips-filtering">
    <div class="form-group">
      <label for="travellersname">Search by traveller's name</label>
      <input type="text" class="form-control" id="travellersname" placeholder="Traveller's name">
    </div>
    <div class="form-group">
      <label for="countries">Search by country</label>
      <select [ngModel]="searchName" routerLink="/" (ngModelChange)="changeName($event)" class="form-control" name="name" id="countries">
        <option></option>
        <option *ngFor="let country of countriesNames">{{country.name}}</option>
      </select>
    </div>
  </form>
</div>