<div class="sticky-top">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" [class.active]="!continent" routerLink="/">All Continents</a>
        <a *ngFor="let c of continents$ | async" routerLink="/" [queryParams]="{ continent: c.name }" [class.active]="continent === c.name" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{c.name}}</h5>
                  <small>{{c.trips}}</small>
                </div>
                <small>Donec id elit non mi porta.</small>
              </a>
    </div>
    <hr />
    <form class="trips-filtering">
      <div class="form-group">
        <label for="travellersname">Search by traveller's name</label>
        <input type="text" class="form-control" id="travellersname" placeholder="Traveller's name">
      </div>
      <div class="form-group">
        <label for="countries">Search by country</label>
        <select class="form-control" id="countries">
            <option></option>
          <option>Country</option>
        </select>
      </div>
    </form>
</div>