.card {
    border: none;
    padding: 0;
    background-color: transparent;
    height: 5rem;
    color: white;
}
.card-traveller {
    flex-direction: row;
}
.card-body {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}
.card-body h6 {
    margin: 0;
}
.card-traveller {
    height: 5rem;
}
.card-img-top {
    border-radius: 0;
    width: 5rem;
}
.btn {
    color: white;
    font-weight: 500;
    background-color: transparent;
    border-radius: 0;
}
.btn:hover {
    background-color: rgba(0,0,0, 0.1);
}
