.card-traveller {
    flex-direction: row;
}
.card-body {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}
.card-body h6 {
    margin: 0;
}
.card-traveller {
    height: 2.5rem;
}
.card-img-top {
    height: 2.5rem;
    width: 2.5rem;
}
.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}