.form-sign-up {
    color: white;
    background-color: rgba(20,20,20,0.5);
    padding: 20px;
    border-radius: 5px;
}
.text-muted {
    color: #ccc !important;
}
h1 {
    text-align: center;
}
.btn-business, .btn-business:focus:active, .btn-business:focus, .btn-business:active {
    background-color: rgb(85, 221, 43);
    border-color: rgb(85, 221, 43);
    color: white;
}