<div class="row input-photos">
  <div class="col-md-6">
    <!-- PHOTO_1 -->
    <div *ngIf="cardRow[0] === 1" class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPhoto1">Photo #1</label>
        <input [(ngModel)]="photo1url" name="photo1url" type="text" class="form-control" id="inputPhoto1" url>
        <input *ngIf="!trip.description1" (click)="showDescription(1)" type="button" class="btn btn-primary btn-block"
          value="Add description">
      </div>
      <div *ngIf="trip.description1" class="form-group col-md-12">
        <label for="inputTitle1">Title #1</label>
        <input [(ngModel)]="title1" type="text" name="title1" id="inputTitle1" class="form-control">
        <label for="inputPhoto1Description">Description #1</label>
        <textarea [(ngModel)]="description1text" name="description1text" class="form-control" id="inputPhoto1Description"
          rows="1"></textarea>
        <button (click)="showDescription(1)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Remove
          description</button>
      </div>
      <button (click)="saveCard1(photo1url, description1text)" class="btn btn-success btn-block"><i class="fas fa-save"></i>Save
        card</button>
    </div>
    <div class="PHOTOS">
      
      <div *ngIf="cardRow[0] === 2" class="form-row">
        <div class="form-group col-md-12">
          <label for="inputPhoto2">Photo #2</label>
          <input type="text" class="form-control" id="inputPhoto2" url>
          <input *ngIf="!description2" (click)="showDescription(2)" type="button" class="btn btn-primary btn-block"
            value="Add description">
        </div>
        <div *ngIf="description2" class="form-group col-md-12">
          <label for="inputPhoto2Description">Description #2</label>
          <textarea class="form-control" id="inputPhoto2Description" rows="1"></textarea>
          <button (click)="showDescription(2)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Remove
            description</button>
        </div>
        <button class="btn btn-success btn-block"><i class="fas fa-save"></i>Save card</button>
      </div>
      
      <div *ngIf="cardRow[0] === 3" class="form-row">
        <div class="form-group col-md-12">
          <label for="inputPhoto3">Photo #3</label>
          <input type="text" class="form-control" id="inputPhoto3" url>
          <input *ngIf="!description3" (click)="showDescription(3)" type="button" class="btn btn-primary btn-block"
            value="Add description">
        </div>
        <div *ngIf="description3" class="form-group col-md-12">
          <label for="inputPhoto3Description">Description #3</label>
          <textarea class="form-control" id="inputPhoto3Description" rows="1"></textarea>
          <button (click)="showDescription(3)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Remove
            description</button>
        </div>
        <button class="btn btn-success btn-block"><i class="fas fa-save"></i>Save card</button>
      </div>
      
      <div *ngIf="cardRow[0] === 4" class="form-row">
        <div class="form-group col-md-12">
          <label for="inputPhoto4">Photo #4</label>
          <input type="text" class="form-control" id="inputPhoto4" url>
          <input *ngIf="!description4" (click)="showDescription(4)" type="button" class="btn btn-primary btn-block"
            value="Add description">
        </div>
        <div *ngIf="description4" class="form-group col-md-12">
          <label for="inputPhoto4Description">Description #4</label>
          <textarea class="form-control" id="inputPhoto4Description" rows="1"></textarea>
          <button (click)="showDescription(4)" type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Remove
            description</button>
        </div>
        <button class="btn btn-success btn-block"><i class="fas fa-save"></i>Save card</button>
      </div>
    </div>
    <hr />
    <span class="row row-card-buttons">
      <button (click)="addCard(1)" class="btn btn-light"><i class="fas fa-edit"></i>Card 1</button>
      <button (click)="addCard(2)" class="btn btn-light"><i class="fas fa-edit"></i>Card 2</button>
      <button (click)="addCard(3)" class="btn btn-light"><i class="fas fa-edit"></i>Card 3</button>
      <button (click)="addCard(4)" class="btn btn-light"><i class="fas fa-edit"></i>Card 4</button>
    </span>
  </div>
  <div class="col-md-6">
    <country-photos [card1]="cardRow[0]" [photo1url]="photo1url" [description1text]="description1text" [title1]="title1"></country-photos>
  </div>
</div>