.row-card-buttons .btn {
    margin-right: 10px;
    text-align: center;
}
.row-card-buttons {
    justify-content: center;
}
.input-photos {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
textarea {
    margin-bottom: 10px;
}
.form-group {
    margin-right: 20px;
}
.form-row > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.col-md-6 /deep/ .card-columns {
    column-count: 1;
}