.detail {
    font-weight: bold;
}
.card-buttons .btn-primary {
    margin-right: 5px;
}
.card-buttons .btn-success {
    margin-left: 5px;
}
/deep/ .tab-content {
    padding-top: 10px;
}
.row-tabs {
    margin-top: 10px;
}
.jumbotron {
    height: 450px;
    background-size: cover;
    background-position: center;
    background-image: url('https://i.imgur.com/VhcMmei.jpg');
}
h1, p {
    text-align: center;
}
.jumbotron p {
    font-weight: 700;
}
h1 span {
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn {
    color: white;
}
h1 span, p span {
    background-color: #232323b9;
    color: white;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
}
.card-traveller {
width: 10rem;
}
.card {
    border-color: transparent;
    border-radius: 10px;
}
.card-map .card-header {
    border: none;
    background-color: #23232373;
}
.bg-dark {
    background-color: #232323;
    background-image: url('https://i.imgur.com/igqRSjt.png');
    background-size: cover;
    height: 156px;
    border-radius: 2px;
}
.fa-hand-pointer {
    font-size: 24px;
}
.card-map .card-body .card-title{
    font-size: 12px;
    font-weight: 700;
}