<a [routerLink]="['/trip/', trip.id]">
  <div class="card">
    <ng-container *ngIf="notes">
      <div *ngFor="let note of notes; index as i">
        <img *ngIf="i<1 && note.photo != null" class="card-img-top" [src]="note.photo" alt="">
        <img *ngIf="i<1 && note.photo === null" class="card-img-top" src="../../../../assets/images/default_trip.jpg" alt="">
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="cards">
      <div *ngFor="let card of cards; index as i">
        <img *ngIf="i<1 && card.photo != null" class="card-img-top" [src]="note.photo" alt="">
        <img *ngIf="i<1 && card.photo === null" class="card-img-top" src="../../../../assets/images/default_trip.jpg" alt="">
      </div>
    </ng-container> -->
    <img class="card-img-top-business" placement="top" [ngbTooltip]="trip.title" [src]="country.image" alt="Card image cap">
    <ng-container *ngIf="notes && trip.business">
      <div *ngFor="let note of notes; index as i">
        <img *ngIf="i<1 && note.photo != null" class="card-img-top img-business" placement="top" [ngbTooltip]="trip.title" [src]="note.photo" alt="">
        <img *ngIf="i<1 && note.photo === null" class="card-img-top img-business" placement="top" [ngbTooltip]="trip.title" src="../../../../assets/images/default_trip.jpg" alt="">
      </div>
    </ng-container>
    <div *ngIf="!trip.business" class="card-body">
      <h5 class="card-title">{{trip.title}}</h5>
      <p class="card-text">{{(trip.description.length>100)? (trip.description | slice:0:100)+'
        [...]':(trip.description)}}</p>
    </div>
    <div *ngIf="!trip.business" class="card-footer">
      <div class="row">
        <div *ngIf="countries" class="col-sm">
          <small *ngFor="let country of countries" class="text-footer">{{country}} </small>
        </div>
        <div *ngIf="profile" class="col-sm-6 col-buttons">
          <a [routerLink]="['/edit-trip', trip.id]"><button class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>Edit</button></a>
          <button (click)="deleteTrip(trip.id)" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</button>
        </div>
      </div>
    </div>
  </div>
</a>