.card {
    cursor: pointer; 
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    border: none;
    background: #232323;
}
.card-img-top {
    border-radius: 0;
}
.card:hover {
    background: #f4852b;
    color: white;
}
.card-img-top { 
    height: 200px;
    background-size: cover;
    background-position: center;
}
.text-footer {
    margin-bottom: 0 !important;
}