.card {
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  border: none;
  background: #232323;
}
.card-img-top {
  border-radius: 0;
}
.card:hover {
  background: #f4852b;
  color: white;
}
.img-business {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
}
.card-img-top {
  height: 250px;
  background-size: cover;
  background-position: center;
}
.card-img-top-business {
  height: 110px;
}
p {
  margin-bottom: 0;
}
.col-buttons {
  display: flex;
  justify-content: flex-end;
}
.col-buttons .btn {
  margin-left: 0.5rem;
}
.card-deleted {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  color: white !important;
  font-weight: 600;
  background-color: #dc3545 !important;
  border: 2px solid #ca2d3d;
  border-radius: 5px !important;
  cursor: default;
}
.card-deleted:hover {
  background-color: #dc3545 !important;
  color: white !important;
}
