<a [routerLink]="['/trip/', trip.id]">
  <div *ngIf="cards" class="card">
    <div *ngFor="let card of cards; index as i">
      <img *ngIf="i<1" class="card-img-top" [src]="card.photo" alt="Card image cap">
    </div>
    <!-- <img class="card-img-top-business" placement="top" [ngbTooltip]="country.name" [src]="country.image" alt="Card image cap"> -->
    <div *ngIf="!businessTrip" class="card-body">
      <h5 class="card-title">{{trip.title}}</h5>
      <p class="card-text">{{trip.description}}</p>
    </div>
    <p *ngIf="!businessTrip" class="card-footer">
      <small class="text-footer">{{trip.countries}}</small>
    </p>
  </div>
</a>