<a [routerLink]="['/trip/', trip.id]">
  <div *ngIf="cards" class="card">
    <div *ngFor="let card of cards; index as i">
      <img *ngIf="i<1" class="card-img-top" [src]="card.photo" alt="Card image cap">
    </div>
    <!-- <img class="card-img-top-business" placement="top" [ngbTooltip]="country.name" [src]="country.image" alt="Card image cap"> -->
    <div *ngIf="!businessTrip" class="card-body">
      <h5 class="card-title">{{trip.title}}</h5>
      <p class="card-text">{{trip.description}}</p>
    </div>
    <div *ngIf="!businessTrip" class="card-footer">
      <div class="row">
        <div class="col-sm">
          <small class="text-footer">{{trip.countries}}</small>
        </div>
        <div *ngIf="profile" class="col-sm-6 col-buttons">
          <a [routerLink]="['/edit-trip', trip.id]"><button class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>Edit</button></a>
          <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</button>
        </div>
      </div>
    </div>
  </div>
</a>