<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="false">
      <img src="../../../../assets/images/logo.png" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a *ngIf="appUser.isAdmin" ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-hammer"></i>Admin
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <ng-container>
                <a class="dropdown-item" routerLink="/admin/trips">Manage Trips</a>
              </ng-container>
            </div>
          </li>
      <ul *ngIf="appUser" class="navbar-nav">
          <div class="menu mr-auto">
              <a routerLink="/my-trips" class="menu-element"><i class="fas fa-hiking"></i>My trips</a>
              <a routerLink="/add-trip" class="menu-element"><button class="btn btn-success"><i class="fas fa-plus"></i>Add trip</button></a>
          </div>
      </ul>

      <ul class="navbar-nav">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link">
              <a routerLink="/business" class="business"><i class="fas fa-user-tie"></i>Busines offer</a>
              <button routerLink="/login" class="btn btn-primary btn-login"><i class="fas fa-lock"></i>Login</button>
            </a>
          </li>
        </ng-template>
        <a routerLink="/profile" *ngIf="appUser" class="hello"><i class="fas fa-user"></i>Profile</a>
        <span *ngIf="appUser" class="hello">Hello, {{ appUser.email }}</span>
      </ul>
      <a *ngIf="appUser" routerLink="/home" class="logout-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Log Out</a>
    </div>
  </div>
</nav>