<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../../assets/images/logo.png" alt="">
    </a>

    <!-- <span> logged: {{logged}} </span><br />
      <span *ngIf="userek" > userek: {{userek.username}} </span> -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <li ngbDropdown *ngIf="userek && logged" class="nav-item dropdown">
        <a *ngIf="userek.admin" ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-hammer"></i>Admin
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <ng-container>
            <a class="dropdown-item" routerLink="/admin/trips">Manage Trips</a>
            <a class="dropdown-item" routerLink="/admin/users">Manage Users</a>
          </ng-container>
        </div>
      </li>
      <ul *ngIf="logged" class="navbar-nav">
        <div class="menu mr-auto">
          <a routerLink="/my-trips" class="menu-element"><i class="fas fa-hiking"></i>My trips</a>
          <a routerLink="/add-trip" class="menu-element"><button class="btn btn-success"><i class="fas fa-plus"></i>Add
              trip</button></a>
        </div>
      </ul>

      <ul class="navbar-nav">
        <ng-container *ngIf="!logged" #anonymousUser>
          <li class="nav-item">
            <a class="nav-link">
              <a routerLink="/business" class="business"><i class="fas fa-user-tie"></i>Busines offer</a>
              <button routerLink="/login" class="btn btn-primary btn-login"><i class="fas fa-lock"></i>Login</button>
            </a>
          </li>
        </ng-container>
        <!--<a routerLink="/profile" *ngIf="user" class="hello"><i class="fas fa-user"></i>Profile</a>-->
        <!--<span *ngIf="user" class="hello">Hello, {{ user.username }}</span>-->
        <a [routerLink]="['/profile', userek.userId]" *ngIf="userek && logged" class="hello"><i class="fas fa-user"></i>Profile</a>
        <ng-container *ngIf="logged">
          <span *ngIf="userek && logged" class="hello">Hello, {{ userek.username }}</span>
        </ng-container>
      </ul>
      <a *ngIf="logged" routerLink="/" class="logout-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Log
        Out</a>
    </div>
  </div>
</nav>