.navbarColor {
    background: #132d4a;
}
li {
    list-style: none;
}
.navbar {
    color: white;
    font-weight: 500;
}
.container {
    margin-top: 0px;
}
.btn-default {
    font-family: "adineuePROKZ-Black";
    margin-top: 1.5rem;
}
.navbarTrans {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    transition: height 2s;
}
.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
.btn-primary {
    color: #f4852b;
    color: white;
}
.btn-login {
    padding: 5px 20px 5px 20px;
    font-weight: 500;
}
.logout-link {
    color: #dc3545;
    font-weight: 500;
    margin-left: 10px;
}
.menu {
    color: #f4852b;
    font-weight: 500;
}
.hello {
    margin-right: 20px;
    margin-left: 10px;
}
.menu .menu-element {
    margin-left: 10px;
    margin-right: 10px;
}
.menu button {
    padding: 5px 20px 5px 20px;
}
.fas {
    padding:0;
    padding-right: 10px;
}
.navbar-collapse {
    justify-content: flex-end;
    flex-grow: 3;
}
.navbar-brand {
    font-family: "adineuePROKZ-Black";
    font-size: 32px;
    color: white;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
