.navbarColor {
    background: #132d4a;
}
.container {
    margin-top: 0px;
}
.btn-default {
    font-family: "adineuePROKZ-Black";
    margin-top: 1.5rem;
}
.navbarTrans {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    transition: height 2s;
}
.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
.hello {
    color: white;
    font-weight: 500;
}
.navbar-collapse {
    justify-content: flex-end;
    flex-grow: 3;
}
.navbar-brand {
    font-family: "adineuePROKZ-Black";
    font-size: 32px;
    color: white;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
