.container {
    padding-top: 120px;
}
.card-body /deep/ .tab-content {
    padding-top: 20px;
}
.card-body /deep/ .nav-pills .nav-link.active {
    background-color: #f4852b;
}
.business {
    color: #3d7ef0;
    font-weight: 500;
}
.profile {
    color: #f4852b;
    font-weight: 500;
}