<body>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="../../../../assets/images/luggage.png" class="image-luggage">
      </div>
      <div class="col">
        <h1><i class="fas fa-globe"></i> My Trips</h1>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="title"><i class="fas fa-hand-point-right"></i></span>
          </div>
          <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search by title"
            aria-label="Title" aria-describedby="title">
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th class="text-center">Countries visited</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trip of filteredTrips; index as i">
                <td>{{trip.title}}</td>
                <td class="text-center">{{trip.countries.length}}</td>
                <td>
                  <button [routerLink]="['/trip/',trip.id]" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>View</button>
                  <button class="btn btn-success btn-sm"><i class="fas fa-share"></i>Share</button>
                  <button [routerLink]="['/edit-trip/',trip.id]" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>Edit</button>
                  <button (click)="deleteTrip(trip.id, i)" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Remove</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>