<body>
    <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="../../../../assets/images/luggage.png" class="image-luggage">
          </div>
          <div class="col">
            <h1><i class="fas fa-globe"></i> My Trips</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>Country</th>
                  <th></th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let country of countries$ | async">
                  <td>{{ country.name }}</td>
                  <td>
                    <img [src]="country.image" class="flag" />
                  </td>
                  <td>16.03.2018</td>
                  <td>
                          <button [routerLink]="['/country/trips/' + country.$key + '/1']" class="btn btn-primary btn-sm">View</button>
                          <button class="btn btn-success btn-sm">Share</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</body>
