body {
    background-image: url('../../../../assets/images/bg_trips.jpg');
    background-repeat: no-repeat;
    color: #232323;
    padding-top: 140px;
    height: 100vh;
    background-color: white;
}
.container-fluid {
    /* background-color: white; */
}
.row-main {
    /* background-color: white; */
    padding-bottom: 100px;
}
.flag {
    height: 18px;
}
.table td {
    border-top: none;
}
.fa-exclamation-triangle {
    color: #ffc107;
    margin-right: 5px;
}
.table th {
    border-bottom-color: #f4852b;
    border-top: none;
}
.table tr:hover {
    background-color: #f8f8f8;
}
.thumbnail {
    font-family: "adineuePROKZ-Black";
    font-size: 3rem;
    position: relative;
}
.caption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    color: white;
}
.img-thumbnail {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}
.image-luggage {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}
.btn {
    margin-left: 15px;
    padding-right: 15px;
}
.input-group-text {
    background-color: transparent;
    color: #232323;
    border-right: none;
    padding: 0;
}
.form-control {
    border-left: none;
    color: #232323;
}
.form-control:focus {
    border: 1px solid #ced4da;
    border-left: none;
    box-shadow: none;
}