<div class="row">
  <div class="col">
    <table class="table" *ngIf="orders">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="text-center" style="width: 230px">Quantity</th>
          <th class="text-right" style="width: 230px">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders.items">
          <td>
            <div [style.backgroundImage]="'url(' + item.product.photo1small + ')'" class="thumbnail"></div>
          </td>
          <td>
            {{ item.product.title }}
          </td>
          <td class="td-quantity">
            {{ item.quantity }}
          </td>
          <td class="text-right">
            {{ (1 - (item.product.discount / 100)) * item.product.price * item.quantity | currency:'USD':'symbol'}}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Total: </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>