.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
td {
    vertical-align: middle;
}
.td-quantity {
    text-align: center;
}
.table {
    width: 900px;
}
.col {
    display: flex;
    justify-content: center;
}