<!-- <div class="photo-one"></div> -->

<div class="card bg-dark text-white">
    <img class="card-img photo-one">
    <div class="card-img-overlay">
        <div class="row">
            <div class="col-6"></div>
            <div class="col">
                <h5 class="card-title">Hello travellers!</h5>
                <p class="card-text">Welcome to Travello, the place you collect your every single trip! <br />Plan your
                    journey, take friends and share your memories with Travello</p>
                <button routerLink="/add-trip" class="btn btn-primary">Start your journey</button>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-countries">
        <div class="col-sm-3">
            <country-filter [(searchName)]="searchName" [continent]="continent"></country-filter>
        </div>
        <div class="col">
            <div class="row no-gutters">
                <div class="col-sm-12">
                    <p class="business-header"><i class="fas fa-hand-holding-usd"></i>Sponsored trips</p>
                </div>
            </div>
            <div class="row row-business-trips no-gutters">
                <div class="col-sm">
                    <business-trips></business-trips>
                </div>
            </div>
            <div class="row row-products">
                <ng-container>
                    <div *ngFor="let c of filteredCountries | name : searchName; let i = index" class="col-sm-4 col-cards">
                        <div class="card-group">
                            <trip-card [country]="c" [continent]="continent"></trip-card>
                        </div>
                    </div>
                    <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>