<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputTitle">Title</label>
                <input type="text" class="form-control" id="inputTitle" placeholder="Type title">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputDescription">Description</label>
                <textarea class="form-control" id="inputDescription" rows="6"></textarea>
              </div>
              <div class="form-group col-md-6">
                <label for="inputNotes">Notes</label>
                <textarea class="form-control" id="inputNotes" rows="6"></textarea>
              </div>
              <div class="form-group col-md-6">
                <label for="startTime">Start</label>
                <input class="form-control" id="startTime" placeholder="yyy/mm/dd" ngbDatepicker #start="ngbDatepicker"
                  (focus)="start.open()">
              </div>
              <div class="form-group col-md-6">
                <label for="endTime">Finish</label>
                <input class="form-control" id="endTime" placeholder="yyy/mm/dd" ngbDatepicker #end="ngbDatepicker"
                  (focus)="end.open()">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Accessibility</label><br />
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="false"><i class="fas fa-unlock-alt"></i>Public
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="true"><i class="fas fa-lock"></i>Private
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <trip-form-photos></trip-form-photos>
            </div>
            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-save"></i>Add your new trip</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>